@import "tailwindcss";

body {
  @apply bg-gray-200;
  font-family: "Poppins", sans-serif;
}

/* mobile frame */
.app-shell {
  @apply mx-auto min-h-screen max-w-[390px] bg-white;
}

/* Hide scrollbar but keep scrolling functional */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
