@import "tailwindcss";

body {
  @apply bg-gray-200;
}

/* mobile frame */
.app-shell {
  @apply mx-auto min-h-screen max-w-sm bg-gray-100;
}

/* Hide scrollbar for date selector */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
